<!DOCTYPE html>
<html>
 <head>
  <title>Coolblue - Email Development System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="/style/style.css" rel="stylesheet">
  <link href="/style/fonts.css" rel="stylesheet">
  <link href="/style/email.css" rel="stylesheet">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

  <script src="https://kit.fontawesome.com/1332795812.js" crossorigin="anonymous"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.13.1/js/all.js" integrity="sha384-RFburpZVVirucdjarLLIoBiT+LY5YuPB8XboZYWRuWpElr46csH7Ia2nsHfkfBZF" crossorigin="anonymous"></script>


 </head>
 <body class="w-full">
  <div class="grid xl:grid-cols-12 gap-0 xl:h-screen">
   <!--Sidebar-->
   <div class="xl:col-span-2 bg-coolblue" id="sidebar">
   </div>
   <!--Content-->
   <div class="xl:col-span-10">
    <div class="mt-8 xl:mt-24">
     <div class="my-4 mx-auto xl:mx-8 w-5/6 xl:w-4/6 divide-y divide-gray-300">
      <div class="pb-8">
       <h2 class="text-blue-darkblue text-4xl -mt-2">
        Frameworks<span class="text-orange-coolblue">.</span>
       </h2>
       <p>
        Frameworks are used to create new emails quickly and easily, without needing to reinvent the wheel every time you need a new design.
       </p>
      </div>
      <div>
       <h4 class="mt-4">
        Basic email framework - Regular
       </h4>
       <div class="mt-2 mb-8 border rounded divide-y">
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Status
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <span class="bg-orange-coolblue py-1 px-2 text-sm rounded text-white bold label">In use</span>
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Last update
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           October 21, 2019
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           GitHub
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <a href="https://github.com/coolblue-development/email-development/blob/master/snippets/00_frameworks/fw-body-regular.html" class="hover:underline text-blue-coolblue">Link</a>
          </p>
         </div>
        </div>      
       </div>
      </div>
      <div>
       <h4 class="mt-4">
        Basic email framework - Selligent
       </h4>
       <div class="mt-2 mb-8 border rounded divide-y">
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Status
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <span class="bg-orange-coolblue py-1 px-2 text-sm rounded text-white bold label">In use</span>
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Last update
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           October 21, 2019
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           GitHub
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <a href="https://github.com/coolblue-development/email-development/blob/master/snippets/00_frameworks/fw-body-selligent.html" class="hover:underline text-blue-coolblue">Link</a>
          </p>
         </div>
        </div>      
       </div>
      </div>
      <div>
       <h4 class="mt-4">
        CSS framework
       </h4>
       <div class="mt-2 mb-8 border rounded divide-y">
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Status
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <span class="bg-orange-coolblue py-1 px-2 text-sm rounded text-white bold label">In use</span>
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Last update
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           April 15, 2020
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           GitHub
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <a href="https://github.com/coolblue-development/email-development/blob/master/snippets/00_frameworks/fw-css.css" class="hover:underline text-blue-coolblue">Link</a>
          </p>
         </div>
        </div>      
       </div>
      </div>

      <div>
       <h4 class="mt-4">
        Basic component framework
       </h4>
       <div class="mt-2 mb-8 border rounded divide-y">
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Status
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <span class="bg-orange-coolblue py-1 px-2 text-sm rounded text-white bold label">In use</span>
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Last update
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           October 21, 2019
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           GitHub
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <a href="https://github.com/coolblue-development/email-development/blob/master/snippets/00_frameworks/fw-template-baseelement.html" class="hover:underline text-blue-coolblue">Link</a>
          </p>
         </div>
        </div>      
       </div>
      </div>

      <div>
       <h4 class="mt-4">
        Basic Selligent framework
       </h4>
       <div class="mt-2 mb-8 border rounded divide-y">
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Status
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <span class="bg-orange-coolblue py-1 px-2 text-sm rounded text-white bold label">In use</span>
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           Last update
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           June 9, 2020
          </p>
         </div>
        </div>
        <div class="p-2 flex">
         <div class="w-1/4 items-center flex">
          <p class="font-bold text-sm">
           GitHub
          </p>
         </div>
         <div class="w-3/4 items-center flex">
          <p class="text-sm">
           <a href="https://github.com/coolblue-development/email-development/blob/master/snippets/00_frameworks/fw-template-selligent-basicmail.html" class="hover:underline text-blue-coolblue">Link</a>
          </p>
         </div>
        </div>      
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script src="/js/script.js"></script>
 </body>
</html>