<!DOCTYPE html>
<html>
 <head>
  <title>Coolblue - Email Development System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="/style/style.css" rel="stylesheet">
  <link href="/style/fonts.css" rel="stylesheet">
  <link href="/style/email.css" rel="stylesheet">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

  <script src="https://kit.fontawesome.com/1332795812.js" crossorigin="anonymous"></script>
 </head>
 <body class="w-full">
  <div class="grid xl:grid-cols-12 gap-0 xl:h-screen">
   <!--Sidebar-->
   <div class="xl:col-span-2 bg-coolblue" id="sidebar">
   </div>
   <!--Content-->
   <div class="xl:col-span-10">
    <div class="mt-8 xl:mt-24">
     <div class="my-4 mx-auto xl:mx-8 w-5/6 xl:w-4/6 divide-y divide-gray-300">
      <div class="pb-8">
       <h2 class="text-blue-darkblue text-4xl -mt-2">
        Header<span class="text-orange-coolblue">.</span>
       </h2>
       <p>
        The header of an email within Coolblue contains several components, some of which are essential to displaying the branding of our company. Other components are optional, give the user options in showing more information, or directing them to other components of our website.
       </p>
      </div>
      <div class="py-8">
       <h3 class="pb-2">Essential components</h3>
       <p>These components are always included in an email:</p>
       <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-4">
        <a href="/components/header/header-logobar.html">
         <div class="p-4 border-gray-300 hover:border-gray-500 duration-200 border rounded text-center">
          <h4 class="pb-2">Logo bar</h4>
          <p class="text-sm mb-2">Contains the logo and slogan of Coolblue.</p>
          <p class="text-sm text-gray-500 pb-2">Variations: 3 | Last updated: June 18, 2020</p>
          <span class="bg-orange-coolblue py-1 px-2 text-sm rounded text-white bold label">In use</span>
          <div class="mt-4">
           <p class="text-sm text-blue-coolblue"><i class="fas fa-angle-right"></i> <span class="hover:underline">Read more</span></p>
          </div>
         </div>
        </a>
       </div>
      </div>
      <div class="py-8">
       <h3 class="pb-2">Optional components</h3>
       <p>These components can be used in emails, but are not necessary:</p>
       <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-4">
        <a href="/components/header/header-preheader.html">
         <div class="p-4 border-gray-300 hover:border-gray-500 duration-200 border rounded text-center">
          <h4 class="pb-2">Pre-header menu</h4>
          <p class="text-sm mb-2">Contains several links that can be used to guide users to the website, or give them more options in the email.</p>
          <p class="text-sm text-gray-500 pb-2">Variations: 1 | Last updated: October 21, 2019</p>
          <span class="bg-orange-coolblue py-1 px-2 text-sm rounded text-white bold label">In use</span>
          <div class="mt-4">
           <p class="text-sm text-blue-coolblue"><i class="fas fa-angle-right"></i> <span class="hover:underline">Read more</span></p>
          </div>
         </div>
        </a>
        <a href="/components/header/header-uspbar.html">
         <div class="p-4 border-gray-300 hover:border-gray-500 duration-200 border rounded text-center">
          <h4 class="pb-2">USP bar</h4>
          <p class="text-sm mb-2">Contains multiple items containing unique selling points of Coolblue. Mostly used in promo and marketing emails.</p>
          <p class="text-sm text-gray-500 pb-2">Variations: 3 | Last updated: May 25, 2020</p>
          <span class="bg-orange-coolblue py-1 px-2 text-sm rounded text-white bold label">In use</span>
          <div class="mt-4">
           <p class="text-sm text-blue-coolblue"><i class="fas fa-angle-right"></i> <span class="hover:underline">Read more</span></p>
          </div>
         </div>
        </a>
        <a href="/components/header/header-notificationbar.html">
         <div class="p-4 border-gray-300 hover:border-gray-500 duration-200 border rounded text-center">
          <h4 class="pb-2">Notification bar</h4>
          <p class="text-sm mb-2">Gives the option to put a notification like a warning or promotion at the top of the email.<span class="md:block xl:hidden">&nbsp;</span></p>
          <p class="text-sm text-gray-500 pb-2">Variations: 1 | Last updated: October 21, 2019</p>
          <span class="bg-red-coolblue py-1 px-2 text-sm rounded text-white bold label">Not in use</span>
          <div class="mt-4">
           <p class="text-sm text-blue-coolblue"><i class="fas fa-angle-right"></i> <span class="hover:underline">Read more</span></p>
          </div>
         </div>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script src="/js/script.js"></script>
 </body>
</html>